---
layout: 'base.njk'
---

<article class="px-[10%] pt-8">
<div class='flex gap-2 font-semibold text-zinc-800 text-2xl'>
<p>{{ month }}</p>
<p>{{ day }},</p>
<p>{{ year }}</p>
</div>

<p>{{ description }}</p>

<section class='py-6'>
     {{ content | safe }}       
</section>
</article>

