<header class="flex px-[10%] justify-between items-center py-6 shadow-2xl" >
    <nav class="flex gap-10 items-center">
        <a href="/" class="font-semibold text-2xl text-zinc-800 ">The Bedrock Project</a>
    <ul class="flex gap-6 text-gray-700">
        <li><a href="/blog">Blog</a></li>
        <li><a href="/podcast">Videos</a></li>
        <li><a href="/devotional">Devotional</a></li>
        <li><a href="/about">About us</a></li>
    </ul>
    </nav>

    <button href="#" class="bg-violet-500 px-8 py-2 text-zinc-100 rounded-2xl">Support Us</button>
</header>