---
layout: 'base.njk'
---

 <article class='py-8 px-[10%] items-center'>
  <iframe class="my-6 w-full "width="900" height="600" src="{{ video }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

     <h2 class='font-bold text-zinc-800 pt-8 pb-4 text-3xl text-center'>{{ title }}</h2>


  {{ content | safe }}

</article>