---
layout: 'base.njk'
title: Podcast
---

<div class=" px-[10%]">
  <iframe class="  w-full aspect-[]" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen blockshare="true" ></iframe>
</div>